* {
    /* background-color: #b9868f; */
    /* background-color: #922749; */
    background-color: #FFC1CC;
    font-family: 'Courier New', Courier, monospace;
}

.main-container {
    margin : 10px;
    padding : 10px;
    border : 5px dotted #B39CD0;
    border-radius : 5px;
}

.links {
    border : 5px groove #b88fe9;
    padding : 7px;
    text-decoration:none
}

.links-div{
    margin : 30px;
}

.user-input {
    margin : 10px;
    padding : 7px
}